* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
	background-color: #eee;
}

table {
	width: 100%;
}

table,
tr,
td,
th {
	border: 2px solid black;
	border-collapse: collapse;
	font-family: sans-serif;
}

td,
th {
	width: 200px;
	font-size: 1rem;
	padding: 0.5rem;
	text-align: center;
}

h1 {
	font-size: 2rem;
	text-align: center;
	margin: 2rem;
}

.container {
	/* padding-top: 4rem; */
	width: 90%;
	margin: 2rem auto;
}

a.tambah {
	font-size: 1.1rem;
	background-color: rgb(9, 89, 236);
	color: #fff;
	padding: 0.5rem;
	margin: 3rem 1rem;
	text-decoration: none;
	border-radius: 10px;
}

a.tambah:hover {
	box-shadow: 5px 5px 3px #0af;
	transform: scale(1.2);
	transition: all 0.3s ease;
}
a.logout {
	font-size: 1.1rem;
	background-color: rgb(236, 9, 58);
	color: #fff;
	padding: 0.5rem;
	margin: 3rem 1rem;
	text-decoration: none;
	border-radius: 10px;
}

a.logout:hover {
	box-shadow: 5px 5px 3px #f0f;
	transform: scale(1.2);
	transition: all 0.3s ease;
}
